.yoyoo-ddr {
  position: absolute;
}

.yoyoo-ddr .resize-handler,
.yoyoo-ddr .rotate-handler {
  display: none;
}

.yoyoo-ddr.active {
  border: 1px dashed #607d8b;
}

.yoyoo-ddr.active .resize-handler,
.yoyoo-ddr.active .rotate-handler {
  display: inline-block;
}

.resize-handler,
.rotate-handler {
  position: absolute;
  border: 1px solid #607d8b;
  background: #fff;
  box-sizing: border-box;
  border-radius: 50%;
}

.resize-handler.tm {
  left: 50%;
}

.resize-handler.r {
  top: 50%;
}

.resize-handler.bm {
  left: 50%;
}
.resize-handler.br {
  border-radius: 0;
  width: 0 !important;
  height: 0 !important;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #000 transparent;
  background-color: unset;
  bottom: 0 !important;
  right: 0 !important;
}

.resize-handler.l {
  top: 50%;
  cursor: pointer;
}

.rotate-handler {
  left: 50%;
  cursor: crosshair;
  top: -18px !important;
}
